<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">

  <style type="text/css">

  body {
    font-family: sans-serif;
  }

  li {
    list-style: disc;
  }

  </style>

  <title>AutoDMG</title>
</head>

<body>

<%= @body %>

</body>
</html>
