<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DebugToSyslog</key>
	<false/>
	<key>HelpURL</key>
	<string>https://github.com/MagerValp/AutoDMG/wiki</string>
	<key>UpdateProfilesURL</key>
	<string>https://raw.githubusercontent.com/MagerValp/AutoDMGUpdateProfiles/master/UpdateProfiles.plist</string>
	<key>LastUpdateProfileCheck</key>
	<date>1970-01-01T00:00:00Z</date>
	<key>UpdateProfileInterval</key>
	<integer>1</integer>
	<key>LogLevel</key>
	<integer>6</integer>
	<key>AppVersionURL</key>
	<string>https://automac.se/autodmg/LatestVersion.php</string>
	<key>LastAppVersionCheck</key>
	<date>1970-01-01T00:00:00Z</date>
	<key>AppVersionCheckInterval</key>
	<integer>1</integer>
	<key>NotifiedAppVersion</key>
	<string>none</string>
	<key>LastInstallerDir</key>
	<string>/Applications</string>
	<key>LastTemplateDir</key>
	<string>~/Documents</string>
	<key>LastImageDir</key>
	<string>~/Downloads</string>
	<key>LastLogDir</key>
	<string>~/Documents</string>
</dict>
</plist>
