<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DebugToSyslog</key>
	<false/>
	<key>HelpURL</key>
	<string>https://github.com/MagerValp/AutoDMG/wiki</string>
	<key>UpdateProfilesURL</key>
	<string>https://raw.github.com/MagerValp/AutoDMGUpdateProfiles/master/UpdateProfiles.plist</string>
	<key>LastUpdateProfileCheck</key>
	<date>1970-01-01T00:00:00Z</date>
	<key>UpdateProfileInterval</key>
	<integer>1</integer>
	<key>LogLevel</key>
	<integer>6</integer>
</dict>
</plist>
