<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeprecatedInstallers</key>
	<dict>
		<key>10.10.5-14F27</key>
		<array>
			<string>14A299l</string>
			<string>14A329r</string>
			<string>14A361p</string>
			<string>14A379b</string>
			<string>14A238x</string>
			<string>14A314h</string>
			<string>14A343f</string>
			<string>14A379a</string>
			<string>14A389</string>
			<string>14B25</string>
			<string>14C109</string>
			<string>14C2043</string>
			<string>14C2055</string>
			<string>14D131</string>
			<string>14D136</string>
			<string>14D2134</string>
			<string>14E46</string>
		</array>
		<key>10.11.6-15G31</key>
		<array>
			<string>15A178w</string>
			<string>15A263e</string>
			<string>15A282b</string>
			<string>15A284</string>
			<string>15B42</string>
			<string>15C50</string>
			<string>15D21</string>
			<string>15E65</string>
			<string>15F34</string>
		</array>
		<key>10.12.6-16G29</key>
		<array>
			<string>16A323</string>
			<string>16A322</string>
			<string>16A319</string>
			<string>16A320</string>
			<string>16A304a</string>
			<string>16A201w</string>
			<string>16A239m</string>
			<string>16B2657</string>
			<string>16B2659</string>
			<string>16C67</string>
			<string>16C68</string>
			<string>16D32</string>
			<string>16E195</string>
			<string>16F73</string>
			<string>16F2073</string>
			<string>16F2104</string>
		</array>
		<key>10.13-17A365</key>
		<array>
			<string>17A306f</string>
			<string>17A291m</string>
			<string>17A291j</string>
			<string>17A264c</string>
			<string>17A315i</string>
			<string>17A330h</string>
			<string>17A344b</string>
			<string>17A352a</string>
			<string>17A358a</string>
			<string>17A360a</string>
			<string>17A362a</string>
		</array>
	</dict>
	<key>DeprecatedOSVersions</key>
	<array>
		<string>10.9</string>
		<string>10.10</string>
	</array>
	<key>Profiles</key>
	<dict>
		<key>10.10.5-14F2511</key>
		<array>
		</array>
		<key>10.10.5-14F27</key>
		<array>
			<string>RemoteDesktopClient</string>
			<string>iTunes</string>
			<string>SecurityYo</string>
			<string>SafariYo</string>
		</array>
		<key>10.11.6-15G1611</key>
		<array>
		</array>
		<key>10.11.6-15G31</key>
		<array>
			<string>RemoteDesktopClient</string>
			<string>CameraRawElCap</string>
			<string>iTunes</string>
			<string>SecurityElCap</string>
			<string>SafariElCap</string>
			<string>AppStoreElCap</string>
		</array>
		<key>10.12.6-16G29</key>
		<array>
			<string>RemoteDesktopClient</string>
			<string>SafariSierra</string>
		</array>
		<key>10.13-17A365</key>
		<array>
			<string>iTunes</string>
		</array>
	</dict>
	<key>PublicationDate</key>
	<date>2017-09-26T08:11:53Z</date>
	<key>Updates</key>
	<dict>
		<key>AppStoreElCap</key>
		<dict>
			<key>name</key>
			<string>Mac App Store Update for OS X El Capitan</string>
			<key>sha1</key>
			<string>9245bc2b4828665b6b126d676cb610b78bfa68ed</string>
			<key>size</key>
			<integer>4787605</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/61/61/091-10728/i82m5auvwlrwtyd8moumo7sfzr52npkyyh/MacAppStoreUpdateforElCapitan.pkg</string>
		</dict>
		<key>CameraRawElCap</key>
		<dict>
			<key>name</key>
			<string>Digital Camera RAW Compatibility Update 6.21</string>
			<key>sha1</key>
			<string>5f8853ad66fa26c84af37e2e057b18a6cde8c74e</string>
			<key>size</key>
			<integer>8171873</integer>
			<key>url</key>
			<string>http://support.apple.com/downloads/DL1889/en_US/rawcameraupdate6.dmg</string>
		</dict>
		<key>RemoteDesktopClient</key>
		<dict>
			<key>name</key>
			<string>Remote Desktop Client Update 3.9.3</string>
			<key>sha1</key>
			<string>8f578ce13def8188e77a9ba4d1a8a369b82f779e</string>
			<key>size</key>
			<integer>8793493</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/50/46/091-14720/s22jiusq9ekq2ioyb6jzy6syqvbavjb46e/RemoteDesktopClient.pkg</string>
		</dict>
		<key>SafariElCap</key>
		<dict>
			<key>name</key>
			<string>Safari 11.0 for El Capitan</string>
			<key>sha1</key>
			<string>3e4e0285c3b6aaad6088b738595eebaf580a3191</string>
			<key>size</key>
			<integer>73842070</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/61/53/031-98377/ao3e0s3d4tkttp2rbhaj94ikjg4g1dqpif/Safari11.0ElCapitan.pkg</string>
		</dict>
		<key>SafariSierra</key>
		<dict>
			<key>name</key>
			<string>Safari 11.0 for Sierra</string>
			<key>sha1</key>
			<string>59df1c8eed56f0e0932a7ff7cc5ef694eee4fd65</string>
			<key>size</key>
			<integer>75554203</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/36/14/091-00938/p3q0nh19f3vfti9kp449ms1e4wrjh9ltva/Safari11.0Sierra.pkg</string>
		</dict>
		<key>SafariYo</key>
		<dict>
			<key>name</key>
			<string>Safari 10.1.2 for Yosemite</string>
			<key>sha1</key>
			<string>86b8af542c1a8d35c5fc64a477733afe828a51c2</string>
			<key>size</key>
			<integer>73194892</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/49/15/091-22830/922z4gigaqp3s1ww66w487cbm88x2cd2gu/Safari10.1.2Yosemite.pkg</string>
		</dict>
		<key>SecurityElCap</key>
		<dict>
			<key>name</key>
			<string>Security Update 2017-003 (El Capitan)</string>
			<key>sha1</key>
			<string>ebe661bb32c54e338da0cbaf2d23fd5d07a13374</string>
			<key>size</key>
			<integer>763907490</integer>
			<key>url</key>
			<string>http://support.apple.com/downloads/DL1932/en_US/secupd2017-003elcapitan.dmg</string>
		</dict>
		<key>SecurityYo</key>
		<dict>
			<key>name</key>
			<string>Security Update 2017-003 (Yosemite)</string>
			<key>sha1</key>
			<string>5079894334ea2054a30a7e44e0ccf59e5aa72d8a</string>
			<key>size</key>
			<integer>431572394</integer>
			<key>url</key>
			<string>http://support.apple.com/downloads/DL1933/en_US/secupd2017-003yosemite.dmg</string>
		</dict>
		<key>iTunes</key>
		<dict>
			<key>name</key>
			<string>iTunes 12.7</string>
			<key>sha1</key>
			<string>ec42117569857b81206ca782b932b9f5f48954fc</string>
			<key>size</key>
			<integer>268903616</integer>
			<key>url</key>
			<string>https://secure-appldnld.apple.com/itunes12/031-97711-20170912-AA2DAD20-71C8-4326-9AE8-F56B9F1DF169/iTunes12.7.dmg</string>
		</dict>
	</dict>
</dict>
</plist>
