<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeprecatedInstallers</key>
	<dict>
		<key>10.10.5-14F27</key>
		<array>
			<string>14A299l</string>
			<string>14A329r</string>
			<string>14A361p</string>
			<string>14A379b</string>
			<string>14A238x</string>
			<string>14A314h</string>
			<string>14A343f</string>
			<string>14A379a</string>
			<string>14A389</string>
			<string>14B25</string>
			<string>14C109</string>
			<string>14C2043</string>
			<string>14C2055</string>
			<string>14D131</string>
			<string>14D136</string>
			<string>14D2134</string>
			<string>14E46</string>
		</array>
		<key>10.11.6-15G31</key>
		<array>
			<string>15A178w</string>
			<string>15A263e</string>
			<string>15A282b</string>
			<string>15A284</string>
			<string>15B42</string>
			<string>15C50</string>
			<string>15D21</string>
			<string>15E65</string>
			<string>15F34</string>
		</array>
		<key>10.12.5-16F73</key>
		<array>
			<string>16A323</string>
			<string>16A322</string>
			<string>16A319</string>
			<string>16A320</string>
			<string>16A304a</string>
			<string>16A201w</string>
			<string>16A239m</string>
			<string>16B2657</string>
			<string>16B2659</string>
			<string>16C67</string>
			<string>16C68</string>
			<string>16D32</string>
			<string>16E195</string>
		</array>
		<key>10.9.5-13F34</key>
		<array>
			<string>13A2093</string>
			<string>13A3017</string>
			<string>13A4023</string>
			<string>13A598</string>
			<string>13A603</string>
			<string>13B3116</string>
			<string>13B4116</string>
			<string>13B42</string>
			<string>13C64</string>
			<string>13D65</string>
			<string>13E28</string>
		</array>
	</dict>
	<key>DeprecatedOSVersions</key>
	<array>
		<string>10.9</string>
	</array>
	<key>Profiles</key>
	<dict>
		<key>10.10.5-14F2411</key>
		<array>
		</array>
		<key>10.10.5-14F27</key>
		<array>
			<string>RemoteDesktopClient</string>
			<string>iTunes</string>
			<string>SecurityYo</string>
			<string>SafariYo</string>
		</array>
		<key>10.11.6-15G1510</key>
		<array>
		</array>
		<key>10.11.6-15G31</key>
		<array>
			<string>RemoteDesktopClient</string>
			<string>CameraRawElCap</string>
			<string>iTunes</string>
			<string>SecurityElCap</string>
			<string>SafariElCap</string>
			<string>AppStoreElCap</string>
		</array>
		<key>10.12.5-16F73</key>
		<array>
			<string>RemoteDesktopClient</string>
			<string>iTunes</string>
		</array>
		<key>10.13-17A264c</key>
		<array>
		</array>
		<key>10.9.5-13F34</key>
		<array>
			<string>RemoteDesktopClient</string>
			<string>SafariMav</string>
			<string>iBooks</string>
			<string>BookKit</string>
			<string>SecurityMav</string>
			<string>iTunes</string>
		</array>
	</dict>
	<key>PublicationDate</key>
	<date>2017-06-06T09:00:43Z</date>
	<key>Updates</key>
	<dict>
		<key>AppStoreElCap</key>
		<dict>
			<key>name</key>
			<string>Mac App Store Update for OS X El Capitan</string>
			<key>sha1</key>
			<string>9245bc2b4828665b6b126d676cb610b78bfa68ed</string>
			<key>size</key>
			<integer>4787605</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/61/61/091-10728/i82m5auvwlrwtyd8moumo7sfzr52npkyyh/MacAppStoreUpdateforElCapitan.pkg</string>
		</dict>
		<key>BookKit</key>
		<dict>
			<key>name</key>
			<string>BookKit Update</string>
			<key>sha1</key>
			<string>87700d3df21250be8aafda2d8b63b14b2cc3d1b1</string>
			<key>size</key>
			<integer>78492</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/49/62/031-1878/hfuvnhh956akbythuxg2im9pdnm3c263sf/BookKitDelta.pkg</string>
		</dict>
		<key>CameraRawElCap</key>
		<dict>
			<key>name</key>
			<string>Digital Camera RAW Compatibility Update 6.21</string>
			<key>sha1</key>
			<string>5f8853ad66fa26c84af37e2e057b18a6cde8c74e</string>
			<key>size</key>
			<integer>8171873</integer>
			<key>url</key>
			<string>http://support.apple.com/downloads/DL1889/en_US/rawcameraupdate6.dmg</string>
		</dict>
		<key>RemoteDesktopClient</key>
		<dict>
			<key>name</key>
			<string>Remote Desktop Client Update 3.9.2</string>
			<key>sha1</key>
			<string>2ad3b30ca2e15312a421d4383cbe410b9314f9fa</string>
			<key>size</key>
			<integer>8768918</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/51/41/091-00404/yf2kt4gajz3qh788grqeg366vuglw5l3hw/RemoteDesktopClient.pkg</string>
		</dict>
		<key>SafariElCap</key>
		<dict>
			<key>name</key>
			<string>Safari 10.1.1 for El Capitan</string>
			<key>sha1</key>
			<string>037005b0df008fe70f5843b09363bd7aa008a4b1</string>
			<key>size</key>
			<integer>73117080</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/27/23/091-03063/2354sgxgndmvy5w4rruif7f3aw5uphchvr/Safari10.1.1ElCapitan.pkg</string>
		</dict>
		<key>SafariMav</key>
		<dict>
			<key>name</key>
			<string>Safari 9.1.3 for Mavericks</string>
			<key>sha1</key>
			<string>806eb4473db833699957f471c6c4351bc3574e5e</string>
			<key>size</key>
			<integer>63186815</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/47/05/031-75479/4l0mviuw0q0eey0tl79gwl4cillof6yyp0/Safari9.1.3Mavericks.pkg</string>
		</dict>
		<key>SafariYo</key>
		<dict>
			<key>name</key>
			<string>Safari 10.1.1 for Yosemite</string>
			<key>sha1</key>
			<string>fa033537f17990c5609d057a7f88587e706b4f41</string>
			<key>size</key>
			<integer>72822161</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/08/23/091-02722/anzj6rcuourekx784i99cz29rd472rb3yp/Safari10.1.1Yosemite.pkg</string>
		</dict>
		<key>SecurityElCap</key>
		<dict>
			<key>name</key>
			<string>Security Update 2017-002 (El Capitan)</string>
			<key>sha1</key>
			<string>502aafd298cac5f524fdab1daf6a7674e27728cd</string>
			<key>size</key>
			<integer>710622744</integer>
			<key>url</key>
			<string>http://support.apple.com/downloads/DL1920/en_US/secupd2017-002elcapitan.dmg</string>
		</dict>
		<key>SecurityMav</key>
		<dict>
			<key>name</key>
			<string>Security Update 2016-004 Mavericks</string>
			<key>sha1</key>
			<string>605e326a035387e029b77b1f06dccff5dfaf98c7</string>
			<key>size</key>
			<integer>371240779</integer>
			<key>url</key>
			<string>http://support.apple.com/downloads/DL1886/en_US/secupd2016-004mavericks.dmg</string>
		</dict>
		<key>SecurityYo</key>
		<dict>
			<key>name</key>
			<string>Security Update 2017-002 (Yosemite)</string>
			<key>sha1</key>
			<string>9998bccdd6bd05e06b7da21fbb7835e7fe370de5</string>
			<key>size</key>
			<integer>421094826</integer>
			<key>url</key>
			<string>http://support.apple.com/downloads/DL1919/en_US/secupd2017-002yosemite.dmg</string>
		</dict>
		<key>iBooks</key>
		<dict>
			<key>name</key>
			<string>iBooks Update</string>
			<key>sha1</key>
			<string>9b075180c00fe27f4a7471d7b16f80c6ca370e8f</string>
			<key>size</key>
			<integer>14599752</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/49/62/031-1878/hfuvnhh956akbythuxg2im9pdnm3c263sf/iBooksDelta.pkg</string>
		</dict>
		<key>iTunes</key>
		<dict>
			<key>name</key>
			<string>iTunes 12.6.1</string>
			<key>sha1</key>
			<string>d90cc2acbb6270996821be298daeffdbb9214de3</string>
			<key>size</key>
			<integer>283099318</integer>
			<key>url</key>
			<string>https://secure-appldnld.apple.com/itunes12/091-14787-20170523-86F107F8-3FB9-11E7-A63F-D7F22C6174CC/iTunes12.6.1.dmg</string>
		</dict>
	</dict>
</dict>
</plist>
