<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeprecatedInstallers</key>
	<dict>
		<key>10.10.5-14F27</key>
		<array>
			<string>14A299l</string>
			<string>14A329r</string>
			<string>14A361p</string>
			<string>14A379b</string>
			<string>14A238x</string>
			<string>14A314h</string>
			<string>14A343f</string>
			<string>14A379a</string>
			<string>14A389</string>
			<string>14B25</string>
			<string>14C109</string>
			<string>14C2043</string>
			<string>14C2055</string>
			<string>14D131</string>
			<string>14D136</string>
			<string>14D2134</string>
			<string>14E46</string>
		</array>
		<key>10.11.6-15G31</key>
		<array>
			<string>15A178w</string>
			<string>15A263e</string>
			<string>15A282b</string>
			<string>15A284</string>
			<string>15B42</string>
			<string>15C50</string>
			<string>15D21</string>
			<string>15E65</string>
			<string>15F34</string>
			<string>15G1611</string>
		</array>
		<key>10.12.6-16G29</key>
		<array>
			<string>16A323</string>
			<string>16A322</string>
			<string>16A319</string>
			<string>16A320</string>
			<string>16A304a</string>
			<string>16A201w</string>
			<string>16A239m</string>
			<string>16B2657</string>
			<string>16B2659</string>
			<string>16C67</string>
			<string>16C68</string>
			<string>16D32</string>
			<string>16E195</string>
			<string>16F73</string>
			<string>16F2073</string>
			<string>16F2104</string>
			<string>16G1036</string>
			<string>16G1114</string>
			<string>16G1212</string>
			<string>16G1314</string>
		</array>
		<key>10.13.5-17F77</key>
		<array>
			<string>17A306f</string>
			<string>17A291m</string>
			<string>17A291j</string>
			<string>17A264c</string>
			<string>17A315i</string>
			<string>17A330h</string>
			<string>17A344b</string>
			<string>17A352a</string>
			<string>17A358a</string>
			<string>17A360a</string>
			<string>17A362a</string>
			<string>17A365</string>
			<string>17A405</string>
			<string>17B48</string>
			<string>17B1002</string>
			<string>17B1003</string>
			<string>17C88</string>
			<string>17D47</string>
			<string>17E199</string>
		</array>
		<key>10.14-18A293u</key>
		<array>
		</array>
	</dict>
	<key>DeprecatedOSVersions</key>
	<array>
		<string>10.9</string>
		<string>10.10</string>
	</array>
	<key>Profiles</key>
	<dict>
		<key>10.10.5-14F2511</key>
		<array>
		</array>
		<key>10.10.5-14F27</key>
		<array>
			<string>RemoteDesktopClient</string>
			<string>SecurityYo</string>
			<string>SafariYo</string>
		</array>
		<key>10.11.6-15G21013</key>
		<array>
		</array>
		<key>10.11.6-15G31</key>
		<array>
			<string>CameraRawElCap</string>
			<string>SecurityElCap</string>
			<string>SafariElCap</string>
			<string>AppStoreElCap</string>
			<string>RemoteDesktopClient</string>
		</array>
		<key>10.12.6-16G1408</key>
		<array>
		</array>
		<key>10.12.6-16G29</key>
		<array>
			<string>RemoteDesktopClient</string>
			<string>SecuritySierra</string>
			<string>SafariSierra</string>
		</array>
		<key>10.13.5-17F77</key>
		<array>
			<string>iTunesHighSierra</string>
		</array>
		<key>10.14-18A293u</key>
		<array>
		</array>
	</dict>
	<key>PublicationDate</key>
	<date>2018-06-06T09:45:21Z</date>
	<key>Updates</key>
	<dict>
		<key>AppStoreElCap</key>
		<dict>
			<key>name</key>
			<string>Mac App Store Update for OS X El Capitan</string>
			<key>sha1</key>
			<string>9245bc2b4828665b6b126d676cb610b78bfa68ed</string>
			<key>size</key>
			<integer>4787605</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/61/61/091-10728/i82m5auvwlrwtyd8moumo7sfzr52npkyyh/MacAppStoreUpdateforElCapitan.pkg</string>
		</dict>
		<key>CameraRawElCap</key>
		<dict>
			<key>name</key>
			<string>Digital Camera RAW Compatibility Update 6.21</string>
			<key>sha1</key>
			<string>5f8853ad66fa26c84af37e2e057b18a6cde8c74e</string>
			<key>size</key>
			<integer>8171873</integer>
			<key>url</key>
			<string>http://support.apple.com/downloads/DL1889/en_US/rawcameraupdate6.dmg</string>
		</dict>
		<key>RemoteDesktopClient</key>
		<dict>
			<key>name</key>
			<string>Remote Desktop Client Update 3.9.3</string>
			<key>sha1</key>
			<string>8f578ce13def8188e77a9ba4d1a8a369b82f779e</string>
			<key>size</key>
			<integer>8793493</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/50/46/091-14720/s22jiusq9ekq2ioyb6jzy6syqvbavjb46e/RemoteDesktopClient.pkg</string>
		</dict>
		<key>SafariElCap</key>
		<dict>
			<key>name</key>
			<string>Safari 11.1.1 for El Capitan</string>
			<key>sha1</key>
			<string>7942228fafbd6e4876cd6d780d86ea2dd9e9b1d5</string>
			<key>size</key>
			<integer>77917598</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/62/45/091-77731/9hcvul9sqn3dq0j4h9362w3chkwj2ihqn7/Safari11.1.1ElCapitan.pkg</string>
		</dict>
		<key>SafariSierra</key>
		<dict>
			<key>name</key>
			<string>Safari 11.1.1 for Sierra</string>
			<key>sha1</key>
			<string>ca850b5be92f9527ed71ef6bdd240426ab5ebd12</string>
			<key>size</key>
			<integer>79834517</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/09/51/091-75784/xxae706zt4nwlnxjguf8eud13h6gkd8c6i/Safari11.1.1Sierra.pkg</string>
		</dict>
		<key>SafariYo</key>
		<dict>
			<key>name</key>
			<string>Safari 10.1.2 for Yosemite</string>
			<key>sha1</key>
			<string>86b8af542c1a8d35c5fc64a477733afe828a51c2</string>
			<key>size</key>
			<integer>73194892</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/49/15/091-22830/wb37hl4mbck89pw6j4t386ym6q8d5p1g5m/Safari10.1.2Yosemite.pkg</string>
		</dict>
		<key>SecurityElCap</key>
		<dict>
			<key>name</key>
			<string>Security Update 2018-003 (El Capitan)</string>
			<key>sha1</key>
			<string>cb3f4e4d5103082a30f6a2555926c197ebf72c45</string>
			<key>size</key>
			<integer>871431704</integer>
			<key>url</key>
			<string>http://updates-http.cdn-apple.com/2018/macos/091-60951-20180601-B127CE66-C99A-43F2-8456-5CC14A75929B/SecUpd2018-003ElCapitan.dmg</string>
		</dict>
		<key>SecuritySierra</key>
		<dict>
			<key>name</key>
			<string>Security Update 2018-003 (Sierra)</string>
			<key>sha1</key>
			<string>c1cfac3c2ff34da58dce746c6218854cfa986df7</string>
			<key>size</key>
			<integer>778200656</integer>
			<key>url</key>
			<string>http://updates-http.cdn-apple.com/2018/macos/091-58224-20180601-E393DE12-F342-4258-9851-7B623E6D249B/SecUpd2018-003Sierra.dmg</string>
		</dict>
		<key>SecurityYo</key>
		<dict>
			<key>name</key>
			<string>Security Update 2017-003 (Yosemite)</string>
			<key>sha1</key>
			<string>5079894334ea2054a30a7e44e0ccf59e5aa72d8a</string>
			<key>size</key>
			<integer>431572394</integer>
			<key>url</key>
			<string>http://support.apple.com/downloads/DL1933/en_US/secupd2017-003yosemite.dmg</string>
		</dict>
		<key>iTunesHighSierra</key>
		<dict>
			<key>name</key>
			<string>iTunes 12.7.5</string>
			<key>sha1</key>
			<string>8e94b9ee5ea38fb78666710f0fede35995723131</string>
			<key>size</key>
			<integer>287430766</integer>
			<key>url</key>
			<string>https://secure-appldnld.apple.com/itunes12/091-81932-20180529-DAFCC9F2-5F77-11E8-B1FB-4E9A897FD268/iTunes12.7.5.dmg</string>
		</dict>
	</dict>
</dict>
</plist>
